node_modules
vendor
.git
.env
frontend/node_modules
frontend/dist
storage/logs
storage/framework/cache
tests
.github
*.md
node_modules
vendor
.git
.env
frontend
storage/logs
storage/framework/cache
tests
.github
*.md
